name: Deploy frontend
on: 
    workflow_call:
        secrets:
            Docker_username:
                description: 'Docker Hub username'
                required: true
            Docker_password:
                description: 'Docker Hub password'
                required: true
        outputs:
            results:
                description: 'The result of the deployment'
                value: ${{ jobs.Deploy.outputs.results }}
jobs:
    Deploy:
        outputs:
            results: ${{ steps.set_results.outputs.results }}
        runs-on: ubuntu-latest
        steps:
            - name: Get the repo files
              uses: actions/checkout@v3
            - name: Init submodules
              run: git submodule update --init --recursive
            - name: Download Frontend Build Artifact
              uses: actions/download-artifact@v4
              with:
                name: frontend-build
                path: build
            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                    username: ${{ secrets.Docker_username }}
                    password: ${{ secrets.Docker_password }}
            - name: Build and Push Docker Image
              run: |
                    docker build -t ${{ secrets.Docker_username }}/frontend:latest .
                    docker push ${{ secrets.Docker_username }}/frontend:latest
            - name: Set output results
              id: set_results
              run: echo "results=success" >> $GITHUB_OUTPUT
            

